*.o
*.pyc
*.so
*.pyo
*.cfg
chains/*.txt
chains/*.1.txt
chains/*.2.txt
chains/*.3.txt
chains/*.4.txt
chains/*.5.txt
chains/*.6.txt
chains/*.7.txt
chains/*.8.txt
chains/*.py
chains/*.py
chains/*.yaml
chains/*.input.yaml
chains/*.updated.yaml
